<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GeekForGeek/src/string/Check_whether_two_strings_are_anagram_of_each_other.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="string.Check_whether_two_strings_are_anagram_of_each_other"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="GeekForGeek"/>
</launchConfiguration>
